<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controlador.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBB</servlet-name>
        <servlet-class>controlador.ServletBB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClienteServlet</servlet-name>
        <servlet-class>controlador.EditarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClienteServlet</servlet-name>
        <servlet-class>controlador.ListarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoClienteServlet</servlet-name>
        <servlet-class>controlador.NuevoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuarioServlet</servlet-name>
        <servlet-class>controlador.BorrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoUsuarioServlet</servlet-name>
        <servlet-class>controlador.NuevoUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>controlador.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBB</servlet-name>
        <url-pattern>/ServletBB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClienteServlet</servlet-name>
        <url-pattern>/EditarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClienteServlet</servlet-name>
        <url-pattern>/ListarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoClienteServlet</servlet-name>
        <url-pattern>/NuevoClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuarioServlet</servlet-name>
        <url-pattern>/BorrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoUsuarioServlet</servlet-name>
        <url-pattern>/NuevoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
